body {
    background-color: #f8f9fa;
}

.logotipo{
    width: 120px;
}
.textoNavSuperior{
    color: white;
    font-size: 0.8rem;
    font-family: 'Times New Roman', Times, serif;

}
.navBar{
    color: rgb(18, 18, 17);
}

/*  c   a   r   d  */

.grupoCard{
    border: none;
    margin-top: 1.4rem;
    border-radius: 10px;


}

/*  b a n n e r   */
.grupobanner {
    border: none;
}

/* t i t u l o s  */

.Titulos{
    font-size: 2.1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

.subtitulo {
    color: rgb(11, 11, 11);
    font-family: 'Times New Roman', Times, serif;
}

.infoSuscripcion {
    font-size: 1.1rem;
    color: #dad7d7;

}
.suscripcionLabel{
    width: 300px;
}

/* Logotipos */
/* iconos Flotantes */
.logotipoF {
    width: 100px;
    object-fit: contain;
    aspect-ratio: 3/2;  
    cursor: pointer;
    transition: all 0.4s;;
}

.logotipoF:hover{
    transform: scale(1.5);
}


.logotipoMarcas{
    width: 60px;
    object-fit: contain;
    cursor: pointer;
    transition: all 0.4s;;
}
.logotipoMarcas:hover{
    transform: scale(1.5);
}


.colorFondo{
background-color: rgba(161, 158, 158, 0.072);
}

/* Informacionm */

.cardInformacion {
    border: none;
    background-color: transparent;
    margin-top: 10px;
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8rem;
}


/* Clientes */

.cardCliente {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    max-width: 320px;
    border-radius: 20px;
    margin: auto;
background: linear-gradient(145deg, #eaeaea, #c5c5c5);
box-shadow:  21px 21px 24px #c3c3c3,
            -21px -21px 24px #f3f3f3;
}

.stars {
    display: flex;
    grid-gap: 0.125rem;
    gap: 0.125rem;
    color: rgb(238, 203, 8);
}

.star {
    height: 1.25rem;
    width: 1.25rem;
}

.infos {
    margin-top: 1rem;
}

.date-time {
    color: rgb(6, 6, 7);
    font-size: 0.7rem;
    font-weight: 900;
}

.description {
    margin-top: 0.4rem;
    line-height: 1.625;
    color: rgb(9, 9, 9);
}

.author {
    margin-top: 1.3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(84, 39, 142);
}

.author:hover {
    color: #2f5377;
}

/* CARD SHOP */
.cardShop{
    border: none;
    background-color: transparent;
    transition: all 0.4s;;
}
.cardShop:hover{
    transform: scale(1.1);
}

.buttonComprarPrincipal {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.buttonComprarPrincipal {
    --primary-color: #111;
    --hovered-color: #000000;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
}

.buttonComprarPrincipal p {
    margin: 0;
    position: relative;
    font-size: 20px;
}

.buttonComprarPrincipal::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    height: 2px;
    transition: 0.3s ease-out;
}

.buttonComprarPrincipal p::before {
    position: absolute;
    /*   box-sizing: border-box; */
    content: "Comprar";
    width: 0%;
    inset: 0;
    overflow: hidden;
    transition: 0.3s ease-out;
}

.buttonComprarPrincipal:hover::after {
    width: 100%;
}



.buttonComprarPrincipal:hover svg {
    transform: translateX(4px);
}

.buttonComprarPrincipal svg {
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
}

/* CURSOR POINTER */
img {
    cursor: pointer;
}
a {
    text-decoration: none;
}

/* Footer */
.ColorSeccionFooter{
    background-color: rgba(161, 158, 158, 0.165);
}
.footer {
    background-color: transparent;
}


/* Link Nav */
.linkNav {
    color: #000000;
    font-weight: 600;
}
.linkNav:hover {
    color: gray;
}

/* BTN SHOP */
.cartBtn {
    font-size: 0.7rem;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color: white;
    font-weight: 500;
    position: relative;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 20px 30px -7px rgba(27, 27, 27, 0.219);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.cart {
    z-index: 2;
}

.cartBtn:active {
    transform: scale(0.96);
}

.product {
    position: absolute;
    width: 12px;
    border-radius: 3px;
    content: "";
    left: 23px;
    bottom: 23px;
    opacity: 0;
    z-index: 1;
    fill: rgb(211, 211, 211);}.cartBtn:hover .product {
    animation: slide-in-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
    0% {
    transform: translateY(-30px);
    opacity: 1;
    }
    100% {
    transform: translateY(0) rotate(-90deg);
    opacity: 1;
    }}.cartBtn:hover .cart {
    animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}@keyframes slide-in-left {
    0% {
    transform: translateX(-10px);
    opacity: 0;
    }
    100% {
    transform: translateX(0);
    opacity: 1;
    }
}

.descriptionProducto {
    font-weight: 600;
    color: rgb(85, 85, 85);
}
.precio{
    font-size: 1.1rem;
    font-weight: 700;
}

.descuento{
    font-size: 1rem;
    color: gray;
    text-decoration: line-through;
}

.spanVolver{
    color: gray;
}

.cardSeleccion{
    border:none;
    background-color: transparent;
}

.cta {
    border: none;
    background: none;
    cursor: pointer;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.bannerImagen1 {
    border-top-left-radius: 19px;
}


.cardBanner{
    border: none;
    background-color: transparent;
    
}